* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===== Design ===== */
@font-face {
    font-family: 'Wayfarers';
    src: url('./assets/fonts/WayfarersToyBoxRegular-gxxER.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'BoldPixels';
    src: url('./assets/fonts/BoldPixels1.4.ttf');
    font-display: swap;
}

:root {
    --bg: #212121;
    --text: #d5d5d5;
    --muted: #6b7280;
    --primary: #3b82f6;

    /* Typo */
    --main-font: 'BoldPixels';
    --font-size: 2rem;
    --radius: 14px;
}

body {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
    font-family: var(--main-font), sans-serif;
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
