---
permalink: index.html
title: Inog
layout: base.njk
---

<div class="welcome">
  <h2>Welcome to my corner of the web. ♡</h2>
  <div class="radio-wrapper">
        <div class="radio-input">
            <label class="label">
                <input value="value-1" name="value-radio" id="play" type="radio" />
                <span class="text">Play</span>
            </label>
            <label class="label">
                <input value="value-1" name="value-radio" id="stop" type="radio" />
                <span class="text">Stop</span>
            </label>
            <label class="label">
                <input value="value-1" name="value-radio" id="reset" type="radio" />
                <span class="text">Reset</span>
            </label>
        </div>
    </div>
</div>

<div class="content">
  {% for post in collections.blogs %}
    <a class="blog" href="{{ post.url | url }}">
      <span class="date">{{ post.data.date | ymd }}</span>
      <h3>{{ post.data.title }}</h3>
    </a>
  {% endfor %}
</div>


<audio id="bgm" preload="auto">
    <source src="/assets/music/TODO.mp3" type="audio/mpeg" />
</audio>
<script>
    const audio = document.getElementById("bgm");
    const btnPlay = document.getElementById("play");
    const btnStop = document.getElementById("stop");
    const btnReset = document.getElementById("reset");

    btnPlay.addEventListener("click", async () => {
        try {
            await audio.play();
        } catch (e) {
            console.warn("Audio play blocked:", e);
        }
    });
    btnStop.addEventListener("click", () => {
        audio.pause();
    });
    btnReset.addEventListener("click", () => {
        audio.pause()
        audio.currentTime = 0;
    });
</script>