* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===== Design ===== */
@font-face {
    font-family: 'Wayfarers';
    src: url('assets/fonts/WayfarersToyBoxRegular-gxxER.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'BoldPixels';
    src: url('assets/fonts/BoldPixels1.4.ttf');
    font-display: swap;
}

:root {
    --bg: #212121;
    --text: #d5d5d5;
    --muted: #6b7280;
    --primary: #3b82f6;

    /* Typo */
    --main-font: 'BoldPixels';
    --font-size: 1.2em;
    --radius: 14px;
}

body {
    height: 100svh;
    background: var(--bg);
    color: var(--text);
    font-family: var(--main-font), sans-serif;
    font-size: var(--font-size);

    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 48px;
}

.container {
    min-height: 100%;
    height: fit-content;
    width: 1000px;
}

.header {
    text-align: center;
    width: 100%;
}

welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 80px;
}

.blog {
    width: 700px;
    padding: 5px;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
}

.blog:hover {
    color: rgb(148, 45, 119);
}

.text {
    padding: 0 100px;
    text-align: start;
}

.text p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.date {
    text-align: center;
    color: rgb(138, 87, 164);
}

.backArrow {
    color: var(--text);
    cursor: pointer;
    font-size: 3em;
    text-decoration: none;
}

.hover:hover {
    color: rgb(148, 45, 119);
}

/* ===== Music Control ===== */

.radio-wrapper {
    width: fit-content;
}

/* From Uiverse.io by m1her */
.radio-input {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: black;
    padding: 4px;
    border-radius: 10px;
    z-index: -1;
    width: fit-content;
}

.radio-input input {
    display: none;
}

.radio-input .label {
    width: 90px;
    height: 60px;
    background: linear-gradient(to bottom, #333333, rgb(36, 35, 35));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: all 0.1s linear;
    border-top: 1px solid #4e4d4d;
    background-color: #333333;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0.2);
}

.label:has(input[type="radio"]:checked) {
    box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
    border-top: none;
}

.label:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.label:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 103%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(
            to bottom,
            transparent 10%,
            transparent,
            transparent 90%
    );
    transition: all 0.1s linear;
    z-index: -1;
}

.label:has(input[type="radio"]:checked)::before {
    background: linear-gradient(
            to bottom,
            transparent 10%,
            #cae2fd63,
            transparent 90%
    );
}

.label .text {
    color: black;
    font-size: 15px;
    line-height: 12px;
    padding: 0px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s linear;
    text-shadow:
            -1px -1px 1px rgb(224, 224, 224, 0.1),
            0px 2px 3px rgb(0, 0, 0, 0.3);
}

.label input[type="radio"]:checked + .text {
    color: rgb(202, 226, 253);
    text-shadow: 0px 0px 12px #cae2fd;
}